/* Poppins Font 400, 500 and 600 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --secondary: #00c3ff;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background-color: #000;
  color: var(--primary);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
  /* margin-top: 1rem !important; */
  height: 10vh;
}

/* For LOGO */
#logo {
  text-align: center;
  /* color: var(--primary); */
}

#logo a {
  text-decoration: none;
  color: var(--primary);
}

#logo a:hover {
  color: var(--secondary);
}

#logo > a > span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo span {
  font-size: 3vw;
  font-weight: 800;
  text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}

#logo span:not(:first-child) {
  margin-left: -0.23em;
}

/* .nav-links {
} */

.nav-links ul li {
  display: inline-block;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.1rem;
  padding: 0.2rem 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.nav-links ul li a:hover {
  color: var(--secondary);
  transition-delay: 0.1s;
}

/* Banner Image */

.banner {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 80vh;
}

.hero-banner {
  background-image: url("https://wallpaperaccess.com/full/2416004.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner img {
  max-width: 90%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 0.5rem;
}

.banner-image {
  max-width: 40%;
}

#banner-text-secondary {
  color: var(--secondary);
  font-weight: 600;
}

.banner-text h1,
.banner-text h2 {
  font-weight: 500;
  line-height: 1.9;
}

.btn {
  outline: unset;
  border: unset;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
}

.btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition-delay: 0.1s;
  cursor: pointer;
  color: #000;
}

.hero-heading {
  font-weight: 500;
  text-align: left;
  margin: 2rem 0;
  text-transform: uppercase;
}
/* About Me */

.about-me-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
}

.about-me-section .left-container {
  max-width: 40%;
  text-align: center;
}

.about-me-section .left-container img {
  max-width: 70%;
  border-radius: 50%;
}

/* .about-me-section .right-container {
} */

/* Services */

.services-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin: 0.5rem auto;
  /* align-content: center; */
}

.services-section .cards {
  background-color: #232123;
  flex-basis: 40%;
  border-radius: 5px;
  padding: 1rem;
  /* width: 25%; */
  margin: 2rem auto;
  text-align: center;
  line-height: 1.8;
}

.services-section .cards h2 {
  color: var(--secondary);
}

/* Contact Me */

.contact-me {
  padding: 2rem auto;
  text-align: left;
  margin: 1rem auto;
}

.contact-me h2,
.contact-me p {
  margin-bottom: 2rem;
}

.contact-me input {
  display: block;
  width: 100%;
  outline: unset;
  border: unset;
  padding: 1rem 0;
  margin: 1rem auto;
  background-color: #000;
  border-bottom: 1px solid var(--secondary);
  color: var(--primary);
}

::placeholder {
  color: var(--primary);
  opacity: 0.5;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.contact-me button a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.footer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media,
.all-rights-reserved {
  margin: 2rem auto;
}

.social-media a {
  text-decoration: none;
  color: var(--primary);
}

.fa-brands {
  padding: 0 0.5rem;
  font-size: 2rem;
}

.fa-brands:hover {
  color: var(--secondary);
  transition-delay: 0.1s;
  transform: scale(1.2);
}

@media only screen and (max-width: 700px) {
  .banner {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 100%;
    justify-content: left;
  }

  .banner,
  .banner-image,
  .banner-text {
    margin: 1.4rem auto;
  }

  .banner-image {
    max-width: 100%;
    /* text-align: left; */
  }
  .banner-text h1 {
    font-size: 1.5rem;
  }

  .banner-text h2 {
    font-size: 1.2rem;
  }

  .about-me-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-me-section .left-container {
    max-width: 50%;
    text-align: left;
  }

  .services-section {
    flex-direction: column;
  }

  .nav-links {
    display: none;
  }

  .navigation {
    justify-content: center;
    height: 5vh;
  }

  #logo span {
    width: 5vh;
    font-size: 3rem;
  }
  nav {
    margin: 2rem 0;
  }
}
