.contact-me {
  padding: 2rem auto;
  text-align: left;
  margin: 1rem auto;
}

.contact-me h2,
.contact-me p {
  margin-bottom: 2rem;
}

.contact-me input[type="text"],
.contact-me input[type="email"] {
  display: block;
  width: 100%;
  outline: unset;
  border: unset;
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  background-color: #000;
  color: var(--primary);
  border-left: 5px solid var(--secondary);
  border-right: 5px solid var(--secondary);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.contact-me ::placeholder {
  color: var(--primary);
  opacity: 0.5;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.contact-me textarea {
  display: block;
  width: 100%;
  resize: none;
  color: var(--primary);
  background-color: #000;
  margin: 1rem auto;
  border-radius: 2px;
  outline: none;
  padding: 1rem;
  border-left: 5px solid var(--secondary);
  border-right: 5px solid var(--secondary);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 20px solid var(--secondary);
  border-color: var(--secondary) transparent var(--secondary) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
