.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.navLogo {
  width: 250px;
  height: 100%;
}

.nav-links ul li {
  display: inline-block;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--primary);
  font-size: 1.1rem;
  padding: 0.2rem 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.nav-links ul li a:hover {
  color: var(--secondary);
  transition-delay: 0.1s;
}

#logo h1 {
  color: var(--primary);
  text-decoration: none;
  font-size: 2.7rem;
  letter-spacing: 0.02cm;
}

#logo h1:hover {
  color: var(--secondary);
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .navigation {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: none;
  }

  nav {
    margin: 2rem 0;
  }
}
