.services-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin: 0.5rem auto;
  /* align-content: center; */
}

.services-section .cards {
  background-color: #232123;
  flex-basis: 40%;
  border-radius: 5px;
  padding: 1rem;
  /* width: 25%; */
  margin: 2rem auto;
  text-align: center;
  line-height: 1.8;
}

.services-section .cards h2 {
  color: var(--secondary);
}

@media only screen and (max-width: 700px) {
  .services-section {
    flex-direction: column;
  }
}
